#!/bin/bash bash

# Source this file in your shell to set up your development environment.
# Run 'direnv allow' to approve the changes.

source .venv/bin/activate
echo "Python environment $(python --version) activated."
